<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button style="display: inline;" defaultHref="/folder/inbox"></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item [class.invalid]="formSubmetido && !profissionalSelected" lines="none" class="ion-no-padding no-border">

    <ion-select #inputprofissionalSelected fill="outline" label="Selecione um profissional *" label-placement="stacked"
      placeholder="Profissional para atendimento" [(ngModel)]="profissionalSelected" name="profissionalSelected"
      (ionChange)="onProfissionalChange($event)">
      <ion-select-option *ngFor="let profissional of profissionais" [value]="profissional.id">
        {{ profissional.name }}
      </ion-select-option>
    </ion-select>

  </ion-item>
  <ion-text color="danger" *ngIf="formSubmetido && !profissionalSelected">
    <p class="ion-padding-start">Campo de seleção de profissional é obrigatório.</p>
  </ion-text>

  <ion-text color="danger" *ngIf="formSubmetido && !empresaSearch">
    <p class="ion-padding-start" style="font-size: 12px !important;">Campo Buscar empresa é obrigatório, digite pelo
      menos 3 caracteres.</p>
  </ion-text>
  <ion-item [class.invalid]="formSubmetido && !empresaSearch" lines="none" class="ion-no-padding no-border">
    <ion-input type="text" fill="outline" #inputempresaSearch [(ngModel)]="empresaSearch" name="empresaSearch"
      label="Buscar empresa *" label-placement="stacked" placeholder="Digite o CNPJ ou a Razão Social"
      autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" (ionInput)="buscarEmpresas($event)"
      (ionClear)="aoLimparEmpresa(inputempresaSearch)" clearInput></ion-input>
  </ion-item>

  <div *ngIf="empresasFiltradas.length > 0 && !empresaSelecionada" class="ion-no-padding no-border"
    style="margin-bottom: 10px !important;background: #a6eef4 !important;padding-left: 3px !important;border-bottom-left-radius: 5px !important;border-bottom-right-radius: 5px !important;">
    <ion-item *ngFor="let empresa of empresasFiltradas" (click)="selecionarEmpresa(empresa)" lines="full"
      class="ion-no-padding no-border" style="--min-height: 38px;">
      {{ empresa.razao_social }} - {{ empresa.cnpj }}
    </ion-item>
  </div>

  <ion-input type="hidden" [(ngModel)]="empresa_id" [value]="empresa_id" style="display: none;"></ion-input>

  <ion-grid class="ion-no-padding no-border">
    <ion-row>
      <ion-col size="6" class="col-left">
        <ion-label>Horário inicial da manhã</ion-label>
        <ion-input type="time" fill="outline" [(ngModel)]="horaManhaInicio" name="horaManhaInicio"
          (ionChange)="atualizarHorariosDisponiveis()"></ion-input>
      </ion-col>
      <ion-col size="6" class="col-right">
        <ion-label>Horário final da manhã</ion-label>
        <ion-input type="time" fill="outline" [(ngModel)]="horaManhaFim" name="horaManhaFim"
          (ionChange)="atualizarHorariosDisponiveis()"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-padding no-border">
    <ion-row>
      <ion-col size="6" class="col-left">
        <ion-label>Horário inicial da tarde</ion-label>
        <ion-input type="time" fill="outline" [(ngModel)]="horaTardeInicio" name="horaTardeInicio"
          (ionChange)="atualizarHorariosDisponiveis()"></ion-input>
      </ion-col>
      <ion-col size="6" class="col-right">
        <ion-label>Horário final da tarde</ion-label>
        <ion-input type="time" fill="outline" [(ngModel)]="horaTardeFim" name="horaTardeFim"
          (ionChange)="atualizarHorariosDisponiveis()"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <ion-select fill="outline" [(ngModel)]="intervalo" label-placement="floating" placeholder="Intervalo de Horário"
    label="Selecione o intervalo de horário de atendimento *" (ionChange)="atualizarHorariosDisponiveis()">
    <ion-select-option value="5">5 minutos</ion-select-option>
    <ion-select-option value="10">10 minutos</ion-select-option>
    <ion-select-option value="15">15 minutos</ion-select-option>
    <ion-select-option value="20">20 minutos</ion-select-option>
    <ion-select-option value="25">25 minutos</ion-select-option>
    <ion-select-option value="30">30 minutos</ion-select-option>
    <ion-select-option value="35">35 minutos</ion-select-option>
    <ion-select-option value="40">40 minutos</ion-select-option>
    <ion-select-option value="45">45 minutos</ion-select-option>
    <ion-select-option value="50">50 minutos</ion-select-option>
    <ion-select-option value="55">55 minutos</ion-select-option>
    <ion-select-option value="60">60 minutos</ion-select-option>
  </ion-select>
  <br>
  <ion-select fill="outline" [(ngModel)]="datas" label-placement="floating" placeholder="Dias disponíveis na agenda"
    label="Selecione a data *" multiple="true" (ionChange)="atualizarHorariosDisponiveis()">
    <ng-container *ngFor="let mes of mesesDisponiveis">
      <!-- Checkbox para marcar todo o mês -->
      <ion-select-option [value]="null" (click)="toggleMes(mes); $event.stopPropagation();" class="select-mes">
        <ion-checkbox slot="start" [checked]="isMesSelecionado(mes)" style="margin-right:8px"></ion-checkbox>
        📅 {{ mes.label | titlecase }}
      </ion-select-option>

      <!-- Datas do mês -->
      <ion-select-option *ngFor="let dia of getDatasDoMes(mes.mes)" [value]="dia.data">
        {{ dia.label | titlecase }}
      </ion-select-option>
    </ng-container>
  </ion-select>


  <div class="div-input-horarios">
    <ion-grid class="ion-no-padding no-border">
      <ion-row>
        <ion-col size="6" class="col-left">
          <ion-checkbox labelPlacement="stacked" alignment="center" [(ngModel)]="mostrarManha"
            (ionChange)="atualizarHorariosDisponiveis()">Habilitar horários
            (manhã)</ion-checkbox>
        </ion-col>
        <ion-col size="6" class="col-right">
          <ion-checkbox labelPlacement="stacked" alignment="center" [(ngModel)]="mostrarTarde"
            (ionChange)="atualizarHorariosDisponiveis()">Habilitar horários
            (tarde)</ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-select fill="outline" [(ngModel)]="horariosSelecionados" multiple="true" label="Selecione *"
    placeholder="Horários Disponíveis" label-placement="floating">

    <ng-container *ngFor="let grupo of getHorariosAgrupados()">
      <ion-select-option disabled class="titulo-data">
        📅 {{ grupo.data | date:'fullDate' }}
      </ion-select-option>
      <ion-select-option disabled class="titulo-turno" *ngIf="grupo.horariosManha.length">🌅 Manhã</ion-select-option>
      <ion-select-option *ngFor="let horario of grupo.horariosManha" [value]="horario">
        {{ horario.hora }}
      </ion-select-option>
      <ion-select-option disabled class="titulo-turno" *ngIf="grupo.horariosTarde.length">🌇 Tarde</ion-select-option>
      <ion-select-option *ngFor="let horario of grupo.horariosTarde" [value]="horario">
        {{ horario.hora }}
      </ion-select-option>
    </ng-container>
  </ion-select>

  <ion-button expand="block" size="large" (click)="salvarDisponibilidade()" style="margin-top: 20px;"
    [disabled]="!horariosSelecionados.length">
    <ion-icon slot="start" name="save"></ion-icon>
    Salvar Disponibilidade
  </ion-button>

</ion-content>