<ion-content class="ion-no-padding">

  <div style="display: flex; flex-direction: column; align-items: center; 
  margin-top: 20%;">
    <img src="assets/img/logo.png" alt="Logomarca" style="width: 150px; 
    max-width: 60vw;">
  </div>

  <div style="
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
  ">
    <ion-card style="padding: 0px;">
      <ion-card-header>
        <ion-card-title>Cadastre-se já!</ion-card-title>
        <ion-card-subtitle>É rápido e fácil!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form (submit)="cadastro($event)">
          <ion-input type="text" size="large" label="CNPJ" label-placement="floating" fill="outline"
            placeholder="Digite o CNPJ da empresa" required [(ngModel)]="cnpj" name="cnpj"
            (ionInput)="formatarCNPJ($event)" maxlength="18"></ion-input>
          <br>
          <ion-input type="text" size="large" label="Nome completo" label-placement="floating" fill="outline"
            placeholder="Digite o seu nome" required [(ngModel)]="nome" name="nome"></ion-input>
          <br>
          <ion-input type="email" size="large" label="E-mail" label-placement="floating" fill="outline"
            placeholder="Digite o seu e-mail" required [(ngModel)]="email" name="email"></ion-input>
          <br>
          <ion-input type="password" size="large" label="Senha" label-placement="floating" fill="outline"
            placeholder="Digite a senha" required [(ngModel)]="senha" name="senha">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>

          <ion-button expand="block" type="submit">
            <ion-icon slot="start" name="log-out-outline" size="large"></ion-icon>
            Cadastrar
          </ion-button>
        </form>

        <ion-button routerLink="/login" color="tertiary">
          <ion-icon name="log-in"></ion-icon>
          <ion-label>Login</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>