<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button style="display: inline;" defaultHref="/folder/inbox"></ion-back-button>
    </ion-buttons>
    <ion-title>Disponibilidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="disponibilidades.length > 0">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="listar-disponibilidades">
    <ion-card *ngFor="let disp of disponibilidades">
      <div #cardDisponibilidadeRef></div>
      <ion-card-header>
        <ion-card-title>Empresa: {{ disp.razao_social }}</ion-card-title>
        <ion-card-subtitle>CNPJ: {{ disp.cnpj }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item lines="none" class="ion-padding-disp">
            <div class="unread-indicator-wrapper">
              <ion-icon color="medium" name="calendar" size="large"></ion-icon>
            </div>
            <ion-label>
              <ion-text color="medium" class="ion-text-wrap">
                {{ getDiaSemanaPorExtenso(disp.data_disponibilidade) }}, {{ disp.data_disponibilidade |
                date:'dd/MM/yyyy' }}
              </ion-text>
            </ion-label>
            <div class="metadata-end-wrapper" slot="end">
              <ion-note color="medium">
                Duração: {{ disp.intervalo_disponibilidade }} min
              </ion-note>



            </div>
          </ion-item>
        </ion-list>

        <ion-grid [@fadeInOut] style="background: #54acb4 !important;"
          *ngIf="gridView && disp.disponibilidade_id === disponibilidadeSelecionadaId">
          <ion-row>
            <ion-col size="5">
              <ion-title class="manha">Manhã</ion-title>
            </ion-col>
            <ion-col size="2">
              <ion-button color="danger" class="btn-fechar"
                *ngIf="disponibilidadeSelecionadaId === disp.disponibilidade_id"
                (click)="fecharHorarios(cardDisponibilidadeRef)">
                <ion-icon name="chevron-down" color="light"></ion-icon> Fechar
              </ion-button>

            </ion-col>
            <ion-col size="5">
              <ion-title class="tarde">Tarde</ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid [@fadeInOut] class="ion-no-padding no-border"
          *ngIf="gridView && disp.disponibilidade_id === disponibilidadeSelecionadaId">
          <ion-row style="padding-top: 5px !important;padding-bottom: 5px !important;">
            <ion-col size="6" style="padding-left: 4px;padding-right: 0px !important;">

              <ion-chip *ngFor="let hora of horariosSelectedManha()" 
                [color]="hora.agendado ? 'medium' : 'tertiary'"
                [class.disabled-chip]="hora.agendado"
                (click)="!hora.agendado && removerHorario(hora)">
                <ion-icon name="time" [color]="hora.agendado ? 'dark' : 'primary'"
                  style="font-size: 17px !important; margin-inline: -4px 4px !important;"></ion-icon>
                <ion-label>{{ hora.hora }}</ion-label>
                <ion-icon *ngIf="!hora.agendado" name="trash" color="danger"
                  style="font-size: 17px !important; -webkit-margin-start: 4px;margin-inline-start: 4px;"></ion-icon>
              </ion-chip>

            </ion-col>
            <ion-col size="6" style="padding-left: 4px;padding-right: 0px !important;">
              <ion-chip *ngFor="let hora of horariosSelectedTarde()" 
                [color]="hora.agendado ? 'medium' : 'tertiary'"
                [class.disabled-chip]="hora.agendado"
                (click)="!hora.agendado && removerHorario(hora)">
                <ion-icon name="time"  [color]="hora.agendado ? 'dark' : 'primary'"
                  style="font-size: 17px !important; margin-inline: -4px 4px !important;"></ion-icon>
                <ion-label>{{ hora.hora }}</ion-label>
                <ion-icon *ngIf="!hora.agendado" name="trash" color="danger"
                  style="font-size: 17px !important; -webkit-margin-start: 4px;margin-inline-start: 4px;"></ion-icon>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid
          *ngIf="gridView && disp.disponibilidade_id === disponibilidadeSelecionadaId && horariosSelecionados.length === 0">
          <ion-row>
            <ion-col size="12">
              <ion-title class="nenhum">Nenhum horário disponível para essa empresa.</ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
      <div class="ion-padding-disp">
        <ion-toolbar>

          <ion-buttons slot="start" *ngIf="disponibilidadeSelecionadaId !== disp.disponibilidade_id">
            <ion-button class="btn-hora" size="small" (click)="verHorarios(disp,cardDisponibilidadeRef)">
              <ion-icon name="time" color="light"></ion-icon> Horários
            </ion-button>
          </ion-buttons>



          <ion-title color="success" class="size-text">
            {{ disp.display_name }}
          </ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" size="small" (click)="removerDisponibilidade(disp)">
              <ion-icon name="trash" color="danger"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </ion-card>
  </div>

  <div *ngIf="disponibilidades.length === 0" style="
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px; 
  text-align: center;
">
    <ion-icon name="today" style="color:#cccccc; font-size: 180px;"></ion-icon>
    <p class="ion-text-wrap" style="color:#cccccc;">Não existem disponibilidades cadastradas no momento.</p>
  </div>

  <ion-button expand="block" (click)="carregarMais()" *ngIf="disponibilidades.length > 0"
    [disabled]="fimDaLista || carregando" size="large">
    Carregar mais
  </ion-button>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" routerLink="/add-disponibilidade">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>