ion-card-header {
    --background: #54acb4 !important;
    -webkit-padding-start: 7px !important;
    padding-inline-start: 7px !important;
    -webkit-padding-end: 7px !important;
    padding-inline-end: 7px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;

    ion-card-title {
        font-weight: 600 !important;
        --color: #fff !important;
    }

    ion-card-subtitle {
        --color: #fff !important;
    }
}

.list-md {
    -webkit-margin-start: 0px !important;
    margin-inline-start: 0px !important;
    -webkit-margin-end: 0px !important;
    margin-inline-end: 0px !important;

    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.list-md.list-inset {
    -webkit-margin-start: 0px !important;
    margin-inline-start: 0px !important;
    -webkit-margin-end: 0px !important;
    margin-inline-end: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 2px !important;
}

ion-item {
    --padding-start: 2px !important;
    --inner-padding-end: 2px !important;
}

.ion-padding-disp {
    border-top: 1px solid #f1f1f1 !important;
    --padding-start: 3px !important;
    --padding-end: 3px !important;
    --padding-top: 3px !important;
    --padding-bottom: 3px !important;
    padding-inline-start: 3px !important;
    padding-inline-end: 3px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.manha,
.tarde {
    text-align: center !important;
    color: #fff !important;
    font-weight: 700 !important;
}

.nenhum {
    text-align: center !important;
    color: #888 !important;
}
.unread-indicator-wrapper {
    -webkit-margin-end: 5px !important;
    margin-inline-end: 5px !important;
}

ion-chip {
  min-height: 22px !important;

  -webkit-margin-start: 1px !important;
    margin-inline-start: 1px !important;
    -webkit-margin-end: 1px !important;
    margin-inline-end: 1px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    -webkit-padding-start: 5px !important;
    padding-inline-start: 5px !important;
    -webkit-padding-end: 5px !important;
    padding-inline-end: 5px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

