<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-back-button style="display: inline;" defaultHref="/listar-agendamentos-colaborador"></ion-back-button>
    </ion-buttons>
    <ion-title>Agendar Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" style="--padding-top: 20px;">

  <ion-select fill="outline" label="Selecionar agenda *" label-placement="floating" placeholder="Escolha uma agenda"
    [(ngModel)]="profissionalSelecionado" (ionChange)="onProfissionalChange()">
    <ion-select-option *ngFor="let profissional of profissionais" [value]="profissional.id">
      Agenda - {{ profissional.id }}
    </ion-select-option>
  </ion-select>
<br>
  <ion-datetime *ngIf="datasDisponiveis.length > 0" presentation="date" [min]="minDataDisponivel"
    [max]="maxDataDisponivel" [isDateEnabled]="isDateEnabled" [(ngModel)]="dataSelecionada"
    (ionChange)="onDataSelecionada()" label="Escolha a data" label-placement="floating"
    placeholder="Selecione uma data disponível">
  </ion-datetime>
<br> 
  <ion-select
  *ngIf="horariosDisponiveis.length > 0"
  fill="outline"
  label="Horário disponível *"
  label-placement="floating"
  placeholder="Escolha um horário"
  [(ngModel)]="horarioSelecionado">
  <ion-select-option *ngFor="let horario of horariosDisponiveis" [value]="horario.id">
    {{ horario.hora }} - {{ horario.turno }}
  </ion-select-option>
</ion-select>

<ion-button expand="block" size="large" (click)="salvarAgenda()" style="margin-top: 20px;"
    [disabled]="!horariosDisponiveis.length">
    <ion-icon slot="start" name="save"></ion-icon>
    Agendar
  </ion-button>

</ion-content>