/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-app {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 481px) {
    ion-app {
        max-width: 480px;
    }
}

ion-header {
    ion-toolbar {

        --min-height: 96px;
        padding-top: 20px !important;

        ion-menu-button {
            width: 5rem;
            height: 5rem;
            font-size: 2.9rem;
        }

        ion-back-button {
            width: 6rem;
            height: 6rem;
            --icon-font-size: 2.9rem;
        }

        .back-button-has-icon-only {
            min-width: 98px;
            min-height: 98px;
        }

        ion-menu-button.in-toolbar {
            color: #fff !important;
        }

        ion-title {
            font-size: 1.95rem;
        }

        ion-icon {
            font-size: 1.95rem;
            margin-left: 10px;
        }

        --background: #54acb4 !important;
        --color: #fff !important;
    }
}

ion-button.button-solid {
    --background: #54acb4 !important;
}

ion-toolbar {

    ion-buttons {

        ion-button.btn-hora {
            --background: #54acb4 !important;
            --color: #fff !important;
        }


    }
}

ion-card-content {
    ion-button.btn-fechar {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-start: 0.4em;
        --padding-end: 0.4em;
        min-height: 15px;
        font-size: 0.375rem;
    }
}

ion-alert .alert-checkbox-button.select-mes .alert-checkbox-label {
    color: #2196f3 !important;
    font-weight: bold !important;
    font-style: italic !important;
}

:host(.checkbox-label-placement-stacked) .label-text-wrapper {
    margin-bottom: 10px !important;
}

ion-checkbox[labelPlacement="stacked"] .label-text-wrapper {
    margin-bottom: 10px !important;
}

::ng-deep ion-checkbox[labelPlacement="stacked"] .label-text-wrapper {
    margin-bottom: 10px !important;
}

ion-action-sheet .action-sheet-title {
    color: #000 !important;
    border-bottom: 1px solid #ccc !important;
    font-weight: 700 !important;
}

ion-content {
    ion-fab-button {
        width: 76px !important;
        height: 76px !important;

        ion-icon {
            font-size: 36px !important;
        }

    }
}