/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-app {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 481px) {
    ion-app {
        max-width: 480px;
    }
}

ion-header {
    ion-toolbar {
        ion-menu-button.in-toolbar {
            color: #fff !important;
        }

        --background: #54acb4 !important;
        --color: #fff !important;
    }
}

ion-button.button-solid {
    --background: #54acb4 !important;
}

ion-toolbar {
    ion-title{
        font-size: 16px !important;
    }
    ion-buttons {
        ion-button {
            font-size: 14px !important;
        }
        ion-button.btn-hora {
            font-size: 14px !important;
            --background: #54acb4 !important;
            --color: #fff !important;
        }
    }
}


ion-alert .alert-checkbox-button.select-mes .alert-checkbox-label {
    color: #2196f3 !important;
    font-size: 18px !important;
    font-weight: bold !important;
    font-style: italic !important;
}

:host(.checkbox-label-placement-stacked) .label-text-wrapper {
    margin-bottom: 10px !important;
}

ion-checkbox[labelPlacement="stacked"] .label-text-wrapper {
    margin-bottom: 10px !important;
}

::ng-deep ion-checkbox[labelPlacement="stacked"] .label-text-wrapper {
    margin-bottom: 10px !important;
}

ion-action-sheet .action-sheet-title {
    color: #000 !important;
    border-bottom: 1px solid #ccc !important;
    font-weight: 700 !important;
}

