<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button style="display: inline;" defaultHref="/folder/inbox"></ion-back-button>
    </ion-buttons>
    <ion-title>Agendamentos</ion-title>
  </ion-toolbar>
</ion-header>  

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 
  <ion-list *ngIf="agendamentos.length > 0">
    <ion-item-sliding *ngFor="let agendamento of agendamentos">
      <ion-item lines="none" (click)="presentActionSheet(agendamento)">
        <ion-icon name="calendar" slot="start" class="icone-calendario"></ion-icon>
        <ion-label>
          <p class="data">
            <strong>
              {{ getDiaSemanaPorExtenso(agendamento.data_agendada) }},
              {{ agendamento.data_agendada | date:'dd/MM/yyyy' }}
              às
            </strong>
            <ion-icon name="time" class="icone-time"></ion-icon>
            {{ agendamento.hora_agendada }}
          </p>
          <p class="colaborador"><strong>Colaborador:</strong> {{ agendamento.display_user }}</p>
          <p class="profissional"><strong>Profissional:</strong> {{ agendamento.display_prof }}</p>
          <p class="empresa"><strong>Empresa:</strong> {{ agendamento.razao_social }}</p>
          <p [ngClass]="'status ' + agendamento.status"><strong>Status:</strong> {{ agendamento.status }}</p>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
      
    </ion-item-sliding>
  </ion-list>
  <ion-text *ngIf="!agendamentos.length">
    <p style="text-align:center;margin-top:2rem;">Nenhum agendamento encontrado.</p>
  </ion-text>

 <ion-button expand="block" (click)="carregarMais()" *ngIf="agendamentos.length > 0"
    [disabled]="fimDaLista || carregando" size="large">
    Carregar mais
  </ion-button>
</ion-content>